

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <form action="addmember">
  <div class="container">
    <h1>AutoBillr</h1>
    <p>create a new bill here</p>
    <hr>

    <b>Add Member </b>
    <input type="text" style="color:black" placeholder="enter Email">
    <b>Percentage </b>
    <input type="text" style="color:black" placeholder="percent of the bill">
    <button style="color:black"> Add another member </button>
    <p></p>
</form>
<a href="/profile"style="color:white"> Submit </a>
<hr>


</div>

</div>

{% endblock %}
