

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <form action="addmember">
  <div class="container">
    <h1>AutoBillr</h1>
    <p>create a new bill here</p>
    <hr>

    <b>Add Member </b>
    <input type="text" placeholder="enter Email" required>
    <b>Percentage </b>
    <input type="text" placeholder="percent of the bill" required>
    <button style="color:black"> Add another member </button>
    <p></p>
    <button style="color:black"> Submit </button>
    <hr>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" style="color:black" class="registerbtn">Register</button>
  </div>
  <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>
</form>
</div>

{% endblock %}
