{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>



<div class= "jumbotron">
    <h1>Netflix</h1>
    <div>Total amount: $20</div>
    <div>Interval: 90 days</div>
    <div>Next due date: 10/20/2018</div>
    <div>Leader: Amy</div>
    <div>Group members: Bill,Chris,David</div>
</div>

<table>
  <tr >
    <th>group member</th>
    <th>percentage</th>
    <th>amount to pay</th>
    <th>status</th>
  </tr>
  <tr>
    <td>Amy</td>
    <td>25%</td>
    <td>$5</td>
    <td><span class="glyphicon glyphicon-ok"></span></td>
  </tr>
  <tr>
    <td>Bill</td>
    <td>25%</td>
    <td>$5</td>
    <td><span class="glyphicon glyphicon-ok"></span></td>
  </tr>
  <tr>
    <td>Chris</td>
    <td>25%</td>
    <td>$5</td>
    <td></td>
  </tr>
  <tr>
    <td>David</td>
    <td>25%</td>
    <td>$5</td>
    <td><span class="glyphicon glyphicon-ok"></span></td>
  </tr>
</table>



{% endblock %}
