{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>



<div class= "jumbotron">
    <h1>Group Name</h1>
    <div>Leader: Amy</div>
    <div>Group members: B,C,D</div>
</div>

<table>
  <tr >
    <th>bill-name</th>
    <th>bill</th>
    <th>%</th>
    <th>my payment</th>
  </tr>
  <tr>
    <td>Netflix</td>
    <td>$20</td>
    <td>25%</td>
    <td>$5</td>
  </tr>
  <tr>
    <td>Electricity fee</td>
    <td>$100</td>
    <td>30%</td>
    <td>$30</td>
  </tr>
</table>



{% endblock %}
