{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<div class= "jumbotron">
    <h1>John Doe</h1>
    <span>johndoe@gmail.com</span>
    <p> </p>
    <span> Netflix, $4, 90 days, 15% </span>
    <a href="#" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-ok"></span>
    </a>
    <a href="#" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-remove"></span>
    </a>


</div>

<h1> My bills </h1>

<table>
  <tr >
    <th>Name</th>
    <th>Leader</th>
  </tr>
  <tr>
    <td><a href="billinfo">Alfreds Futterkiste</a></td>
    <td>Maria Anders</td>
  </tr>
  <tr>
    <td><a href="billinfo">Centro comercial Moctezuma</a></td>
    <td>Francisco Chang</td>
  </tr>
  <tr>
    <td><a href="billinfo">Ernst Handel</a></td>
    <td>Roland Mendel</td>
  </tr>
  <tr>
    <td><a href="billinfo">Island Trading</a></td>
    <td>Helen Bennett</td>
  </tr>
  <tr>
    <td><a href="billinfo">Laughing Bacchus Winecellars</a></td>
    <td>Yoshi Tannamuri</td>
  </tr>
  <tr>
    <td><a href="billinfo">Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
  </tr>
</table>

<a href="createbill"> create new bill</a>

{% endblock %}
